@model IEnumerable<MoostBrand.Models.Category >

@{
    ViewBag.Title = "List";
}

<a href="@Url.Action("CategoryCreate")" >Create</a>

<table>
    <tr>
        <th>
            Category
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <ul>
                    <li>
                        <a href="@Url.Action("CategoryEdit", new { id = item.ID })" >Edit</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CategoryDelete", new { id = item.ID })" >Delete</a>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>
