@model IEnumerable<MoostBrand.Models.Container >

@{
    ViewBag.Title = "List";
}

<a href="@Url.Action("ContainerCreate")" >Create</a>

<table>
    <tr>
        <th>
            Container
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <ul>
                    <li>
                        <a href="@Url.Action("ContainerEdit", new { id = item.ID })" >Edit</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ContainerDelete", new { id = item.ID })" >Delete</a>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>
