@model MoostBrand.Models.R
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Create Purchase Requisitions";
}


<div class="panel-heading">
        <h4 class="panel-title">Home</h4>

        <hr />

    </div>
    <div class="panel-body">

        <div class="form-horizontal">

           
        </div>


    </div>