<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=216.55.182.238;Initial Catalog=JENTECDTR;User ID=sa;Password=r0ck5taR@p!c@550" providerName="System.Data.SqlClient" /> <!--database ng local (DTR)-->
    <add name="DBConnSynch" connectionString="Data Source=216.55.182.238;Initial Catalog=MoostBrandTAMS;User ID=sa;Password=5d5r0ck5taR" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EmployeeServiceSoap" />
        <binding name="LogsServiceSoap" />
        <binding name="RegistrationServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tams-pdy.2sds.com/WebServices/LogsService.asmx"
        binding="basicHttpBinding" bindingConfiguration="LogsServiceSoap"
        contract="LogsService.LogsServiceSoap" name="LogsServiceSoap" />
      <endpoint address="http://tams-pdy.2sds.com/WebServices/EmployeeService.asmx"
        binding="basicHttpBinding" bindingConfiguration="EmployeeServiceSoap"
        contract="MyServiceReferences.EmployeeServiceSoap" name="EmployeeServiceSoap" />
      <endpoint address="http://tams-pdy.2sds.com/WebServices/RegistrationService.asmx"
        binding="basicHttpBinding" bindingConfiguration="RegistrationServiceSoap"
        contract="RegistrationService.RegistrationServiceSoap" name="RegistrationServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>